//$textColor: #2980b9; // #1abc9c
//$margin: 5%;
//$fade: #444444;
//$fade2: $fade - 100;


body {
    background-color: #444444;
}

header {
    margin: 20px 0 0 5%;
}

h1 {
    color: white;
}

h2 {
    color: white;
    margin: 10px 10%; 
}

p {
    color: white;
}

.main {
//    background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to());
//    background-image: -webkit-linear-gradient(top, #444444, );
}